@import "./bootstrap.min.css";
@import "./font.css";

.album-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: flex-start;
    align-content: flex-start;
}

.album {
    position: relative;
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    background-color: gray;
    margin: 10px;
    flex-grow: 1;
}

    .album.dummy {
        background-color: transparent;
    }

    .album-image {
        display: block;
        flex-grow: 1;
        border-radius: 10px;
        background-size: contain;
    }

    .album .album-overlay {
        display: none;
        position: absolute;
        align-items: center;
        justify-content: center;
        background-color: #00000044;
        border-radius: 10px;
        height: inherit;
        width: inherit;
        flex-grow: 1;
    }

        .album:hover .album-overlay {
            display: flex;
        }
        
        .album-overlay a {
            border-radius: 50px;
            background-color: #00000044;
        }

            .album-overlay a:hover {
                transition: 0.5s;
                background-color: #000000BB;
                cursor: pointer;
            }
    
        .album-overlay img {
            width: 90px;
            height: 90px;
        }

.dropbtn {
    position: relative;
}

.dropmenu {
    display: none;
    position: absolute;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px #00000044);
}

    .dropmenu.shown {
        display: block;
    }

#account-dropmenu {
    left: 20px;
    bottom: 55px;
}

.dropmenu-option {
    display: flex;
    cursor: pointer;
}

    .dropmenu-option a {
        width: 100%;
        padding: 10px 15px;
        text-align: left;
    }

        .dropmenu-option a:hover {
            background-color: var(--bs-primary);
        }

        .dropmenu-option.top a {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .dropmenu-option.bottom a {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

.dropmenu-card {
    display: none;
    flex-direction: column;
    border-radius: 10px;
}

    .dropmenu-card.shown {
        display: flex;
    }

#user-info-card {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

    #user-info-card p {
        margin: 0 10px 0 20px;
        text-align: center;
    }

#pfp-card {
    width: 64px;
    height: 64px;
    margin-right: 20px
}

.popup {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #00000088;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

    .popup.shown {
        display: flex;
    }

.popup-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

#signin-popup-card p {
    font-size: 18px;
}

#signin-popup-card * {
    text-align: center;
}

.popup-content {
    margin: 10px 20px 20px 20px;
    padding: 10px;
    height: 100%;
}

#signin-popup-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topbar {
    display: flex;
}

    .topbar a {
        display: flex;
        justify-content: center;
        margin-left: auto;
        border-top-right-radius: 10px;
        height: 32px;
        width: 50px;
        padding: 4px;
    }

        .topbar a:hover {
            background-color: var(--bs-danger);
        }

#signin-popup-done-btn {
    width: 200px;
    height: 50px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #eb3434;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

    #signin-popup-done-btn:hover {
        background-color: #c92c2c;
    }

#credentials-popup-save-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: var(--bs-primary);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

#credentials-popup-content div input {
    width: 320px;
    height: 40px;
}

#credentials-popup-content p {
    font-size: 16px;
    max-width: 320px;
}
