@import "./bootstrap.min.css";
@import "./font.css";

* {
    font-family: "funnel-sans";
    user-select: none;
}

html, body {
    margin: 0;
    height: 100%;
}

svg {
    vertical-align: middle;
}

.filter-white {
    filter: invert(100%);
}

.file-upload {
    display: none;
}

.nav-link img {
    width: 32px;
    height: 32px;
}

#account-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
}

    #account-menu a img {
        width: 40px;
        height: 40px;
    }

.sidebar {
    flex-grow: 0;
    width: 64px;
    position: fixed;
    height: 100%;
    left: 0;
    z-index: 10;
}

.content-display {
    position: relative;
    overflow-x: hidden;
    left: 64px;
    width: calc(100% - 64px);
    height: 100%;
    z-index: 1;
}

.tab-content {
    display: none;
    flex-direction: column;
    overflow-y: scroll;
    height: 100vh;
}

    .tab-content.active {
        display: flex;
    }

.form-btn {
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    min-width: 100px;
    text-align: center;
}

    .form-btn:hover {
        cursor: pointer;
    }

    .form-btn.primary-btn {
        background-color: var(--bs-primary);
    }

        .form-btn.primary-btn:hover {
            background-color: #0b5ed7;
        }

        .form-btn.primary-btn:active {
            background-color: #0a58ca;
        }

    .form-btn.danger-btn {
        background-color: var(--bs-danger);
    }

        .form-btn.danger-btn:hover {
            background-color: #bb2d3b;
        }        
        
        .form-btn.danger-btn:active {
            background-color: #b02a37;
        }

.button-row {
    margin: 10px;
    display: flex;
    gap: 10px;
}
